
<nav>
  <ul>
    {% for link in linklists.main-menu.links %}
    {% assign has_sub_menu = false %}
    {% assign has_sub_categories = false %}
    {% assign parent_link_active = false %}
    {% assign child_list_handle = link.title | handle %}
    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
    	{% assign has_sub_menu = true %}
    	{% for l in linklists[child_list_handle].links %}
    		{% if handle != blank and handle == l.object.handle %}
    			{% assign parent_link_active = true %}
    		{% elsif page_title == l.title %}
    			{% assign parent_link_active = true %}
    		{% endif %}
    	{% endfor %}
    {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
    	{% assign has_sub_categories = true %}
    {% endif %}
    <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}"><a href="{{ link.url }}">
        {{ link.title }}
        {% if has_sub_menu or has_sub_categories %}<i class="fafa-angle-down"></i>{% endif %}</a>{% if has_sub_menu or has_sub_categories %}
      <ul>
        {% if has_sub_menu %}
        	{% for l in linklists[child_list_handle].links %}
        <li class="{% if l.active %} active{% endif %}"><a href="{{ l.url }}">{{ l.title }}</a></li>	{% endfor %}
        {% elsif has_sub_categories %}
        	{% for tag in link.object.all_tags %}
        <li class="{% if current_tags contains tag %} active{% endif %}"><a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a></li>	{% endfor %}
        {% endif %}
      </ul>{% endif %}
    </li>{% endfor %}
    <li class="show-on-small{% if template == 'search' %} active{% endif %}"><a href="/search"><i class="fa fa-search"></i></a></li>
  </ul>
</nav>